/*
  Created by byeoon
*/

svg, .lottieIcon__9d8ab, .lottieIcon_c7076c, .icon__67ab4, .iconContainer__6a580, .link_ddbb36 {
  background-image: url("https://media.discordapp.net/stickers/1217112512374505613.png");
  background-size: 16px;
}

svg:hover, .lottieIcon__9d8ab:hover, .lottieIcon_c7076c:hover {
color: #1114ad;
transition: color 0.2s ease;
}

.unread__48cf4 {
  background-image: url("https://media.discordapp.net/stickers/1217112512374505613.png");
  background-size: 12px;
}
